.Menu{
    position: fixed;
    width: 30px;
    height: 25px;
    background-color: blue;
    border-radius: 100px;
    top: -5%;
    left: 50%;
    transform: translate(-50%, 0);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: width 0.5s, height 0.5s, left 0.5s;
    padding: 0 20px;
    animation: came-down 1s 7s forwards;
}

.Menu button{
    opacity: 0;
    color: white;
    font-size: x-large;
    background-color: transparent;
    outline: none;
    border-width: 0px;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.button-description{
   font-size: small;
   position: fixed;
   top: 7%;
   opacity: 0;
   transition: opacity .5s, top .4s;
}

.Menu:hover{
    width: 360px;
    height: 50px;
}

.Menu:hover button{
    animation: fade-in .5s .2s forwards;
}

.Menu button:hover{
    background-color: rgba(255, 255, 255, 0.5);
}

.Menu button:hover span{
    opacity: 1;
    top: 106%;
}

@keyframes fade-in{
    100%{opacity: 1;}
}

@keyframes came-down{
    100%{top: 2%;}
}