.Home{
    width: 100%;
    height: 60vh;
    color: white;
}

.container{
    position: absolute;
    top: 20%;
    left: 33%;
    display: flex;
    align-items: center;
  width: 50%;
    flex-direction: row;

    animation: slide-left 1s forwards;
}

.img{
    width: 0vh;
    height: 0vh;
    background-color: red;

    animation: expand 1s forwards;
}

.intro{
    display: flex;
    align-items: center;
  
    flex-direction: column;
    gap: 20px;
}



.greatings span{
    font-size: 30px;
    font-weight: 300;
    opacity: 0;
    animation: fade-in 1s forwards;
}



.name{
    font-size: 60px;
    font-weight: 600;
    opacity: 0;
    animation: fade-in 1s forwards;
}

.profession{
    font-size: 30px;
    font-weight: bold;
    color: #59b256;
    position: absolute;

    opacity: 0;
    animation: fade-slide-up 1s forwards ;
}

p{
    opacity: 0;
    margin-top: 25%;
    animation: fade-in 1s forwards;
}

@keyframes fade-in{
    100%{opacity: 1;}
}

@keyframes fade-slide-up {
    0%{padding-top: 250px;}
    100%{padding-top: 180px; opacity: 1;}
}

@keyframes slide-right{

    100%{left: 50%; }
}

@keyframes slide-left{

    100%{left: 25%; }
}

@keyframes expand{

    100%{width: 50vh; height: 50vh;}
}